{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %} 
<h1>Knowledge Base / FAQ</h1>

  <form action="#" method="get">
    <input type="text" placeholder="Search.." name="search" style="margin:auto;max-width:500px">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>

<div class="topnav">
  <a class="active" href="#home">Home</a> <br> 
    <a href="#section1" class="btn">Hardware</a> <br>
    <a href="#section2" class="btn">Software</a> <br>  
    <a href="#section3" class="btn">Telephony</a> <br>
    <a href="#section4" class="btn">Server</a> <br>
    <a href="#section5" class="btn">Network</a> <br>
    <a href="#section6" class="btn">Email</a> <br>
    <a href="#section7" class="btn">Security</a> <br>

</div>

<div>
  
  

</div>

<!-- <div class="section one" id="section1">
  <h2 id="Hardware">Hardware</h2>
  
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>

</div>
   
<div class="section two" id="section2">

  <h1>Software</h1>

  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br> 
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>

</div>

<div class="section three" id="section3">
  <h1>Telephony</h1>

  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>

</div>

<div class="section four" id="section4">

  <h1>Server</h1>

  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>

</div>

<div class="section five" id="section5">
  <h1> Network</h1>

  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>

</div>

<div class="section SIX" id="section6">
  <h1> Email</h1>

  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>

</div>

<div class="section Seven" id="section7">
  <h1> Security</h1>

  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>
  <a href=" static/kb_articles/Adding another mailbox to your profile">Adding another mailbox to your profile</a> <br>

</div> -->

 

<link  href="adding another mailbox to your profile.html" rel="import" />



{% endblock %}  

{% block footer %} 

{% endblock %}
