<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  
   
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  

<!-- <div class="logo">
    <img src="static/images/logo.png" alt="SupportEngine Logo"
    width="200" height="100" >
</div> -->
    
  <div class="sidebar">
      <a href="main"><img src="static/images/logo.png" alt="SupportEngine Logo"
        width="200" height="100" ></a>
      <a class="active" href="main"><i class="fa fa-pie-chart""></i>Dashboard</a>
      <a href="/technician_dashboard"><i class="fa fa-fw fa-ticket"></i>Tickets</a>
      <a href="/assets_management"><i class="fa fa-tachometer"></i>Asset Management</a>
      <a href="/kb_faq"><i class="fa fa-fw fas fa-archive"></i>Knowledge Base</a>
      <a href="/about"><i class="fa fa-fw fas fa-book"></i>About Us</a>
      <a href="/contact_us"><i class="fa fa-fw fa-envelope"></i>Contact Us</a>
      <a href="/submit_ticket"><i class="fa fa-ticket"></i>Create New Ticket</a>
      {% if username!=''%}
          <a href="/tech_logout" class="split"><i class="fa fa-fw fa-user"></i>Logout</a>
      {% else %}
          <a href="/tech_login" class="split"><i class="fa fa-fw fa-user"></i>Login</a>
      {% endif %}
     
          
  </div>
  {% block head %} {% endblock %}
</head>
<body>
  <div class="content">
    {% block body %} {% endblock %}
  </div>

</body>
<footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <p>© 2023 SupportEngine Ticketing System. All Rights Reserved.</p>
          {% block footer %} {% endblock %}
        </div>
      </div>
    </div>
  </footer>
</html>