<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  
   
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.css" rel="stylesheet" />


<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  

  <title>SupportEngine</title>   
  <div class="sidebar">
      <a href="main"><img src="\static\images\HD.png" alt="SupportEngine Logo"
        width="200" height="100" ></a>
      <a href="/kb_faq"><i class="fa fa-fw fas fa-archive"></i>Knowledge Base</a>
      <a href="/about"><i class="fa fa-fw fas fa-book"></i>About Us</a>
      <a href="/contact_us"><i class="fa fa-fw fa-envelope"></i>Contact Us</a>
     
      {% if username!=''%}
          <a href="/tech_logout" class="split"><i class="fa fa-fw fa-user"></i>Logout</a>
      {% else %}
          <a href="/tech_login" class="split"><i class="fa fa-fw fa-user"></i>Login</a>
      {% endif %}
     
      <!----calendar container-->
      <div id="calendar" width="200" height="100"></div>

  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth'
      });

      calendar.render();
    });
  </script>

  

{% block head %} {% endblock %}
</head>
<body>
  <div class="content">
    {% block body %} {% endblock %}
  </div>

</body>
<footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <p>© 2023 SupportEngine Ticketing System. All Rights Reserved.</p>
          {% block footer %} {% endblock %}
        </div>
      </div>
    </div>
  </footer>
</html>