{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 

{% endblock %}

{% block body %} 
<h1>Tickets Metric</h1>

<h2>Requests by Technician</h2>
<table border="1">
    <thead>
        <tr>
            <th>Technician</th>
            <th>Request Count</th>
        </tr>
    </thead>
    <tbody>
        {% for technician in requests_by_technician %}
            <tr>
                <td>{{ technician[0] }}</td>
                <td>{{ technician[1] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Tickets by Status</h2>
<table border="1">
    <thead>
        <tr>
            <th>Status</th>
            <th>Ticket Count</th>
        </tr>
    </thead>
    <tbody>
        {% for status in tickets_by_status %}
            <tr>
                <td>{{ status[0] }}</td>
                <td>{{ status[1] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Tickets by Priority</h2>
<table border="1">
    <thead>
        <tr>
            <th>Priority</th>
            <th>Ticket Count</th>
        </tr>
    </thead>
    <tbody>
        {% for priority in tickets_by_priority %}
            <tr>
                <td>{{ priority[0] }}</td>
                <td>{{ priority[1] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2> Tickets by Category</h2>
<table border="1">
    <thead>
        <tr>
            <th>Category</th>
            <th>Ticket Count</th>
        </tr>
    </thead>
    <tbody>
        {% for category in tickets_by_category %}
            <tr>
                <td>{{ category[0] }}</td>
                <td>{{ category[1] }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

<!-- <h2> Tickets  that failed SLA </h2>
<table border="1">
    <thead>
        <tr>
            <th>Resolution</th>
            <th>Ticket Count</th>
        </tr>
    </thead>
    <tbody>
        {% for Resolution in tickets_by_resolution %}
            <tr>
                <td>{{ category[0] }}</td>
                <td>{{ category[1] }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table> -->

<!-- <h2>

    <a href="technician_dashboard">Ticket Dashbord </a>
</h2> -->

{% endblock %}  

{% block footer %} 

{% endblock %}
