{% extends "base_login.html" %}

{% block head %}

{% endblock %}

{% block body %} 
<div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

<div class="container">
    <h2>Login</h2>
    <form action="/user_login" method="POST">

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>

      <input type="submit" value="Login">
    </form>
  </div>
  <div class="reset-password">
    <p>Forgot your password? <a href="reset-password.html">Reset it here</a>.</p>
 </div>
{% endblock %}

{% block footer %} 

{% endblock %}
