{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %} 
<h1>Knowledge Base / FAQ</h1>

  <form action="#" method="get">
    <input type="text" placeholder="Search.." name="search" style="margin:auto;max-width:500px">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>

  <h2>Categories</h2>
  <ul>
    <li><a href="#Hardware Knowledge Base Articles">Hardware</a></li>
    <li><a href="#Software Knowledge Base Articles">Software</a></li>
    <li><a href="#Telephony Knowledge Base Articles">Telephony</a></li>
    <li><a href="#Servers Knowledge Base Articles"> Server</a></li>
   
  </ul>

  <h2 id="Hardware">Hardware</h2>
  <ul>
    <li>
      <h3>Article 1</h3>
      <p></p>
    </li>
    <li>
      <h3>Article 2</h3>
      <p></p>
    </li>
    
  </ul>

  <h2 id="Software">Software</h2>
  <ul>
    <li>
      <h3>Article 3</h3>
      <p></p>
    </li>
    <li>
      <h3>Article 4</h3>
      <p></p>
    </li>
    
  </ul>
  <h2 id="Telephony">Telephony</h2>
  <ul>
    <li>
      <h3>Article 5</h3>
      <p></p>
    </li>
    <li>
      <h3>Article 6</h3>
      <p></p>
    </li>
    
  </ul>

  <h2 id="Servers">Server</h2>
  <ul>
    <li>
      <h3>Article 7</h3>
      <p></p>
    </li>
    <li>
      <h3>Article 8 </h3>
      <p></p>
    </li>
    
  </ul>
{% endblock %}  

{% block footer %} 

{% endblock %}
