<!DOCTYPE html>
<html>
<head>
  <title>SupportEngine Ticketing System</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>
<body>
  <div id="header">
    <h1>SupportEngine Ticketing System</h1>
  </div>
    <!-- Top navigation -->
  <div class="topnav">
      <a class="active" href="main"><i class="fa fa-fw fa-home"></i>Home</a>
      <a href="technician_dashboard"><i class="fa fa-tachometer"></i>Dashboard</a>
      <a href="view_tickets"><i class="fa fa-ticket"></i>View Tickets</a>
      <a href="kb_faq"><i class="fa fa-fw fas fa-archive"></i>Knowledge Base</a>
      <a href="about"><i class="fa fa-fw fas fa-book"></i>About Us</a>
      <a href="contact_us"><i class="fa fa-fw fa-envelope"></i>Contact Us</a>
      <a href="technician_login" class="split"><i class="fa fa-fw fa-user"></i>Login</a>
    </div>
</body>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <p>© 2023 SupportEngine Ticketing System. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
</html>
